.groupbuy-list{
	
}
.groupbuy-item{
	
}
.groupbuy-item .titleline{
	line-height:28px;
	padding:3px 5px;
}
/* .groupbuy-item .create-time{
	padding:3px 5px;
} */

.groupbuy-item .content{
	padding:3px 5px;
}
